<% _.each(trends, function (trend) { %>
    <% _.each(trend, function(tweets){ %>
        <% _.each(tweets, function(tweet){ %>
            <% if(tweet.id) { %>
            
                <section>
                    <div class="tweet">
                            
                            <div>
                                <div class="photo">
                                        <img src="<%= tweet.user.profile_image_url %>" class="img-rounded">
                                </div>
                                <div class="lefft">
                                    <strong><p><%= tweet.user.name %></p></strong>
                                    <p>@<%= tweet.user.screen_name %></p>
                                </div>
                            </div>
                            <div class="clear"></div>
                            
                            <div class="lefft">
                                <p><%= tweet.text %></p>
                            </div>
                            <div class="clear"></div>
                            
                            <a href="#detailTrend/<%= tweet.id %>/<%= trendQuery %>"><span></span></a>
                            
                        </div>
                </section>
                
            <% } %>
        <% }); %>
    <% }); %>
<% }); %>