<% _.each(tweets, function (tweet) { %>
    
    <section>
        <div class="tweet">
            
            <div>
                <div class="photo">
                        <img src="<%= tweet.user.profile_image_url %>" class="img-rounded">
                </div>
                <div class="lefft">
                    <strong><p><%= tweet.user.name %></p></strong>
                    <p>@<%= tweet.user.screen_name %></p>
                </div>
            </div>
                        
            <div class="lefft">
                <p><%= tweet.text %></p>                
            </div>
            
            <a href="#detail/<%= tweet.id %>"><span></span></a>
            <div class="clear"></div>
        </div>
    </section>

<% }); %>